body {
    background-color: #424242;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}


h2 {
    color: #fff;
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
}

h3 {
    color: #fff;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
}

.content {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.box {
    margin-top: 10px;
    font-size: 25px !important;
    background-color: #fff;
    color: #000;
    border-radius: 10px 10px 10px 10px;

}

.head-to-do {
    background-color: #f57c00;
    border-radius: 10px 10px 0 0;
    padding: 5px;


}

.head-completed {
    background-color: #43a047;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

#add {
    padding: 10px 30px !important;
    font-size: 30px !important;
}

.body {
    padding: 10px;
}