body {
    height: 100vh;
    /* background-color: rgb(223, 95, 41); */
    font-family: 'Roboto', sans-serif;
    background: url(/image/numbers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}



.game-box {
    background-color: white;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    padding: 20px;
    border: 1px solid rgba(215, 120, 85, .3);
    border-radius: 8px;


}

#title {
    font-family: 'Ubuntu Mono', monospace !important;
    text-align: center;
    border-bottom: 1px solid rgb(219, 217, 217);
    padding-bottom: 10px;
}

.text-align {
    text-align: right;

}

i {
    font-size: 25px;
}

.orange {
    color: rgb(204, 64, 22);

}

.grey {
    color: gray;
}


#text {
    color: rgb(207, 101, 14);
}

#number {
    width: 100%;
    border: 1px solid rgba(164, 163, 163, .6);
    border-radius: 3px;
}

#guess-button {
    width: 100%;
    margin: 20px 0;
    color: black;
}

#again-button {
    width: 100%;
    margin: 20px 0;
    color: black;
}

.btn-hide {
    display: none;
}

.btn-show {
    display: inline-block;
}









@media screen and (max-width: 576px) {

    .text-align {
        text-align: center;
    }

}