@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Roboto;

}

.container {

    width: 80vw;
    height: auto;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* .header {
    width: 100%;
    user-select: none;
    height: 150px;
} */

.header-adv {
    width: 100%;
    height: 65px;
}

.advertisement {
    height: 100%;
    background-color: orangered;
    text-align: center;
}

.advertisement-image {
    height: 100%;
}

.header-main {
    height: 100px;



}

.header-top {
    width: 1200px;
    height: 15px;
    padding-top: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

}

.header-top-items ul {
    display: flex;

}

.header-top-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-items a {
    padding-right: 20px;
    color: #999;
    font-size: 12px;
    line-height: 15px;
    font-family: Roboto;
}

.header-top ul li a:hover {
    color: #666;
}

.header-bottom {
    width: 100%;
    height: 64px;
    display: flex;
    margin-top: 30px;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; */



}

.up {
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.up button {
    background-color: whitesmoke;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.up button:hover {
    background-color: orangered;
    color: white;

}

.logo-image {
    width: 210px;
    height: 36px;

    /* margin-left: 150px; */

}

.search {

    padding: 10px 40px 10px 15px;
    position: relative;
    margin-top: -15px;
    margin-left: 30px;

}

.search-box {

    width: 600px;
    height: 42px;
    background-color: #f3f3f3;
    border: none;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;


}

.search i {
    width: 18px;
    height: 18px;
    font-size: 20px;
    position: absolute;
    left: 580px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.account {
    width: 300px;
    height: 40px;
    margin-top: 5px;


}

.account ul {
    display: flex;
    justify-content: space-evenly;

}


.account ul li a {
    color: black;
    font-weight: 400;
    font-size: 13px;
    padding-left: 6px;
}

.account ul li i {
    font-size: 20px;
    cursor: pointer;
}

.account ul li a:hover {
    color: orangered;
}

.account ul li>a:hover {}

.account li i:hover {}

.navbar {
    width: 100%;
    height: 36px;
    /* background-color: #999; */

}

.navbar-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;

}

.navbar-item a {
    padding: 10px;
    color: black;
    font-weight: 500;
    transition-duration: 0.3s;
}

.navbar-item button {
    background-color: red;
    width: 40px;
    height: 16px;
    border-radius: 32px;
    border: none;
    color: white;
    margin-left: 3px;
    cursor: pointer;

}

.navbar-item a:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.entry-items {
    height: 55px;
    width: 100%;
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    object-fit: cover;
    /* overflow: visible; */
}

.image span {
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    display: block;
    transition: all ease 0.2s;
    line-height: 14px;
    height: 42px;

}


.image span:hover {
    color: orangered;
}

.image {
    text-align: center;

    /* flex: 0 0 100%; */
    /* Resimlerin sıra içinde aynı genişlikte olmasını sağlar */
}

/* button#sagaGit {
    cursor: pointer;
}

button#sagaGit:hover+.images {
    animation: sagaKaydir 1s linear infinite;
}

@keyframes sagaKaydir {
    0% {
        transform: translateX(-100%);
    }
} */
.section1 {
    margin-top: 100px;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    text-align: center;
    width: 386.67px;
    height: 56.9829px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.card1 {
    background-color: #F2FFE9;
}

.card1 a {
    color: green;
}

.card2 {
    background-color: #F8F0E5
}

.card2 a {
    color: orangered;
}

.card3 {
    background-color: rgb(244, 224, 228);
}

.card3 a {
    color: rgb(194, 13, 44);
}

.section2,
.section5 {
    width: 100%;
    margin-bottom: 40px;

}


.section2-group1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section2-group2 {
    display: flex;
    justify-content: space-between;
}

.section2 a img {
    width: 383px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;


}


.info {
    width: 383px;
    height: 38px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    transition-duration: .3s;
}

.section2 .info {
    background-color: black;

}

.text {
    color: white;
    font-weight: 500;

}

.hover-text {
    color: black;
    font-weight: 500;
    padding-right: 20px;
}



.section2 a:hover {
    .hover-text {
        color: white;
    }

    .info {
        background-color: orangered;
    }
}

/*******************************************************************************************************************************/
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

.section5 a img {
    width: 383px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;


}

.section5 a:hover {
    .hover-text {
        color: white;
    }

    .info {
        background-color: orangered;
    }
}

.section5 .info {
    background-color: black;

}

.section3,
.section4 {
    width: 100%;
    height: 450px;
    /* background-color: red; */
    margin-bottom: 40px;

}

.title {
    width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;




}

.title h2 {
    font-weight: 400;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 30px;


}

.title a {
    text-decoration: underline;
    color: black;
    padding-top: 50px;
    padding-right: 40px;

}

.bestseller-area {
    margin-top: 10px;
    width: 928px;
}

.bsrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .bs-title h3 {

    font-size: 22px;
    width: 200px;
    height: 10px;
    font-weight: normal;
    padding-bottom: 30px;

} */

.card-areas,
.bestseller-area {
    display: flex;
    justify-content: space-around;

}



.card-area,
.bscard {
    width: 250px;
    height: auto;
    /* margin-left: 10px; */
    margin-top: 50px;
    /* background-color: black; */
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid rgba(215, 213, 213, 0.5);


}

.pageend-button a {
    display: block;
    margin: 20px 0;
    padding-top: 15px;
    height: 50px;
    width: 928px;
    text-align: center;
    border: 1px solid rgba(215, 213, 213, 0.5);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition-duration: .3s;
}

.pageend-button a:hover {
    border: 1px solid orangered;

}

.card-img-sec {
    text-align: center;
    padding: 15px 0;
    position: relative;
}

.card-img-sec img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}

.button-container {
    position: absolute;
    top: 0;
    left: 0;
}

.button-container img {
    z-index: 1;
    margin-right: 10px;
    position: absolute;
    top: 110px;
    left: -5px;
}

.btn1 {
    width: 60px;
    height: 60px;
    border: none;
    font-weight: 600;
    border-radius: 50%;
    color: white;
    background-color: orange;
    position: absolute;
    z-index: 1;
    margin-right: 10px;
    top: 160px;
    left: 5px;

}

.btn2 {
    margin-right: 10px;
    width: 80px;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(75, 73, 73);
    position: absolute;
    z-index: 1;
    margin-right: 10px;
    top: 10px;
    left: 5px;
}

.btn3 {
    width: 80px;
    height: 30px;
    border: none;
    font-weight: 600;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    background-color: green;
    z-index: 1;
    margin-right: 10px;
    position: absolute;
    top: 40px;
    left: 5px;
}

.card-title-sec {
    color: black;
    padding-bottom: 10px;
    padding-left: 10px;

}


.brand {
    font-weight: bold;
}

.card-price-sec {
    color: orangered;
    font-weight: 600;
    font-size: 15px;
    padding-left: 10px;

}



.card-tag-sec {
    width: 150px;
    /* background-color: #fffaf6; */
    padding-top: 10px;
    padding-left: 10px;
}

.presentation {
    margin-top: 10px;
}

.presentation div {
    margin-bottom: 5px;
}

.presentation h2,
.brands-pages h2 {
    font-weight: 400;
    padding-bottom: 10px;
}

.presentation p {
    letter-spacing: .5px;
    line-height: 25px;
    text-align: justify;
    font-size: 11px;
    padding-bottom: 15px;
}

.presentation a {
    color: black;
    font-size: 11px;
}



.brands-pages {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;


}

.left-side {
    width: 50%;
    height: auto;
    margin-right: 120px;

}

.right-side {
    width: 50%;
    height: auto;

}

.brands li {
    list-style-type: none;
    padding-bottom: 3px;
    margin-top: 10px;

}

.brands li a {
    color: black;
}

.brands li a:hover {
    text-decoration: underline;
}

.all-brands {
    display: flex;
    justify-content: space-between;

}

.brands-pages {
    display: flex;
    justify-content: space-between;

}

.last-section {
    width: 100%;
    height: 600px;
    background-color: black;

}

.black-panel {


    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;


}

.list {

    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px;
    padding-top: 60px;
    width: 200;
    height: 350px;
    /* border: 1px solid white; */
    position: relative;
}

.black-panel h2 {
    color: white;
    font-weight: normal;
}

.list li {
    padding-bottom: 30px;

}

.list li a,
.list li p {
    color: white;

}


.list li a:hover {
    text-decoration: underline;
}

.payment-image {
    width: 80px;
    height: 30px;
    display: flex;
    z-index: 1;
    position: absolute;
    left: 100px;
}

.app-image {
    position: absolute;
    left: 100px;
}

.socialmedia {
    position: absolute;
    left: 100px;
}

.barcode {
    position: absolute;
    left: 100px;
}

.trendyol {
    position: relative;
}

.about-us {
    position: relative;
}

.kampanyalar {
    position: relative;
}

.help {
    position: relative;
}


.socialmedia i {
    font-size: 25px;
    cursor: pointer;
    padding-right: 2px;
    transition-duration: .5s;
}

.socialmedia i:hover {

    opacity: .8;
    font-size: large;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(42, 41, 41);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-left {
    color: white;
    font-size: 12px;
}

.footer-right {
    display: flex;
}

.footer-right a {
    color: white;
    padding: 15px;
    font-size: 12px;
}

/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} */
/********************************************sepetim *************************************************************************/
.bag-leftside {
    width: 928px;
}

.bag-leftside h3 {

    font-size: 22px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

.girisyap {
    width: 928px;
    height: 50px;
    background-color: #FFFFDD;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
}

.girisyap span {
    font-size: 15px;
    padding-left: 3px;

}

.girisyap i {
    font-size: 20px;
}

.girisyap a {
    color: orangered;
    font-weight: bold;
    font-size: 15px;
}

.product-card {
    width: 928px;
    height: 250px;
    border: 1px solid rgba(215, 213, 213, 0.5);
    border-radius: 8px;
    margin-bottom: 30px;
}


.product-card-title {
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #F3EEEA;
}

.product-card-title a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: black;
}

.product-card-title button {
    background-color: rgb(43, 180, 43);
    font-size: 15px;
    border: none;
    border-radius: 3px;
    width: 30px;
}

.product-card-content {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;


}

.product-card-content-head {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-content-end {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: orangered;
    font-weight: 500;
    font-size: 17px;
}

.product-card-content-head a {
    color: black;
    transition: .3s;
}


.product-card-content-end a:hover {
    font-size: large;
}

.cargo {
    width: 100%;
    height: 30px;
    background-color: #F2FFE9;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;

}

.cargo h4 {
    font-weight: normal;
    padding-left: 5px;
}

.product-info {
    margin-bottom: 10px;
}


/* .warning-title {
    color: red;
    font-size: 12px;
    background-color: pink;



} */
/******************************SEPETİ ONAYLA KUTUSU*********************************************/
.sticky {

    position: -webkit-sticky;
    top: 0;
    left: 1100px;
    align-self: flex-start;

}



.summary {
    width: 250px;
    margin-left: 20px;
}

.confirm {
    margin-bottom: 20px;
}

.confirm a {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
}

.btn-primary {
    border-radius: 6px;
    background-color: #f27a1a;
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm a span {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.confirm a i {
    font-size: 14px;
    margin-left: 7px;
}

.summary-box {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: white;
    line-height: 24px;
}

.summary-box h1 {
    font-size: 22px;
    line-height: 28px;
    color: #333;
    margin-bottom: 16px;
    font-weight: 400;
}

.summary-box ul {
    list-style-type: none;
}

.summary-box li {
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
}

.summary-box li strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    max-width: 80px;
}

.summary-total-price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: #f27a1a;
    width: 100%;
    text-align: right;
}

.discount-box {
    display: flex;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 15px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

/****************************************************************************************************************/